{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Tipo Pregunta
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.Tipo }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="{{ path('tipopreguntum') }}" class="fa fa-list btn btn-info">Regresar</a>
                            <a href="{{ path('tipopreguntum_edit', { 'id': entity.id })}}" class="fa fa-edit btn btn-success" >Editar</a>
                            {{ form(delete_form) }}
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div>
{% endblock %}