<!DOCTYPE html>
<!--[if IE 8]>
        <html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
    <![endif]-->
<!--[if !(IE 8) ]><!-->
        <html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>SEDUMG INICIAR</title>


    <link href={{ asset('bundles/umgvotacion/css/bootstrap.min.css') }} rel="stylesheet">
    <link href={{ asset('bundles/umgvotacion/css/bootstrap-reset.css') }} rel="stylesheet">
    <!--external css-->
    <link href={{ asset('bundles/umgvotacion/assets/font-awesome/css/font-awesome.css') }} rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href={{ asset('bundles/umgvotacion/css/style.css') }} rel="stylesheet">
    <link href={{ asset('bundles/umgvotacion/css/style-responsive.css') }} rel="stylesheet" />
</head>
<body class="login-body">
{%block fos_user_content %}
{%endblock %}

    <script src={{ asset('bundles/umgvotacion/js/jquery.js') }} ></script>
    <script src={{ asset('bundles/umgvotacion/js/bootstrap.min.js') }} ></script>
</body>
</html>
