{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="page-title"> Carrera: {{ entity.Carrera }}</h1>
                        <p class="lead">
                        Campus: {{ entity.Codigo}} - {{entity.Campus}} <br />
                        Jornada: {{entity.Jornada}}
                        </p>

                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Coordinador:</th>
                                <th>{{entity.Catedratico}}</th>
                            </tr>
                        </thead>
                    </table>
                    <h1> Lista de cursos </h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Curso</th>
                                <th>Pensum</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cursos in entity.getCarreraCursos %}
                            <tr>
                                <td>{{ cursos.PensumAnio.Codigo }}</td>
                                <td>{{ cursos.PensumAnio.Curso }}</td>
                                <td>{{ cursos.PensumAnio.Pensum }}</td>
                                <td>
                                    <a href="{{ path('carreracurso_show', { 'id': cursos.id }) }}" class="bnt btn-success fa fa-money"> Ver</a>
                                    <a href="{{ path('carreracurso_edit', { 'id': cursos.id }) }}" class="btn btn-danger fa fa-edit"> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href={{ path('carreracurso_new', {'id': entity.id}) }} class="fa fa-pencil btn btn-success">Asignar cursos a carrera</a>
                    <br />              
                        <a href="{{ path('campus_show', {'id':entity.Campus.id}) }}" class=" fa fa-list btn btn-info">
                            Regresar a Campus
                        </a>                    
                        <a href="{{ path('campuscarrera_edit', { 'id': entity.id }) }}" class="fa fa-edit btn btn-danger">
                            Editar
                        </a>                                        
                    </div>
                     <!-- End Form Elements -->
                </div>
    </div>    
{% endblock %}
