{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="page-title">{{entity.Codigo}} - {{entity.Nombre}}</h1>
                            <h1>Catedratico</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>Nit</th>
                                                    <td>{{ entity.Nit }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Dirección</th>
                                                    <td>{{ entity.Direccion }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fecha de nacimiento</th>
                                                    <td>{{ entity.FechaNacimiento|date('d-m-y')}}</td>
                                                </tr>
                                                <tr>
                                                    <th>No. Colegiado</th>
                                                    <td>{{ entity.Colegiado }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Especialidad</th>
                                                    <td>{{ entity.Especialidad }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Universidad</th>
                                                    <td>{{ entity.Universidad }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Año de graduación</th>
                                                    <td>{{ entity.Graduacion }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Otros estudios</th>
                                                    <td>{{ entity.Estudios }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Logros</th>
                                                    <td>{{ entity.Logros }}</td>
                                                </tr>
                                            </tbody>
                                </table>
                            </div>
                            {{ form(delete_form) }}
                        </div>
                    </div>
                            <a href="{{ path('catedratico') }}" class="icon-file-text-alt btn btn-info"> Regresar</a>
                            <a href="{{ path('catedratico_edit', { 'id': entity.id }) }}" class="icon-edit-sign btn btn-success" > Editar</a>
                     <!-- End Form Elements -->
                </div>
</div>
{% endblock %}


